<!DOCTYPE html>
<html ng-app="brusselNieuwsRss">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	</head>
	<body>
		<!--<script type="text/javascript" src="js/angular.min.js"></script>-->
		<script type="text/javascript" src="js/angular.js"></script>
		<!--<script type="text/javascript" src="bower_components/angular/angular.js"></script>
		<script type="text/javascript" src="bower_components/angular-filter/dist/angular-filter.min.js"></script> -->
		<script type="text/javascript" src="js/brusselNieuwsRss.js"></script>
		<p>{{"Brussel Nieuws RSS"}}</p>
		<section ng-controller="FeedCategoriesController as feedCategoriesController">
			<ul class="nav nav-pills">
				<li ng-repeat="feedCategory in feedCategoriesController.feedCategoriesResponse.feedCategories | orderBy:feedCategory"
					ng-class="{active:feedCategoriesController.isSelected(feedCategory)}">
					<a href ng-click="feedCategoriesController.selectCategory(feedCategory)">{{feedCategory}}</a>
				</li>
			</ul>
			{{feedCategoriesController.category}}
			<ul ng-controller="FeedsMetaController as feedsMetaController" class="nav nav-pills">
				<li ng-repeat="feedmeta in feedsMetaController.feedsMetaResponse.feedMetaResponses | orderBy:feedmeta.dutchName" ng-show="feedmeta.category=='CULTURE'">
					<a>{{feedmeta.dutchName}}</a>
					<!--
					<h2>{{feedmeta.requestId}}</h2>
					<h3>{{feedmeta.category}}</h3>
					-->
				</li>	
			</ul>
		</section>
	</body>
</html>